.side-nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 0;
  background-color: #ffebb8;
  height: 89vh;
}
.side-nav a {
  text-decoration: none;
  color: #ffc11b;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 0 0.5rem 2rem;
}
.side-nav a:hover {
  background-color: #ffebb8;
}
.side-nav button {
  padding: 0.5rem;
  margin: 1rem;
  background-color: #ffebb8;
  border-radius: 5px;
  border: none;
  background-color: #ffc11b;
  color: #ffffff;
  font-size: medium;
  width: 80%;
  font-weight: 600;
  cursor: pointer;
}
.side-nav i {
  margin-right: 10px;
}
