.side-nav {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 0;
  /* background-color: #ffebb8; */
  height: 89vh;
  position: sticky;
  top: 100px;
}
.side-nav a {
  text-decoration: none;
  color: #ffc11b;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 0 0.5rem 2rem;
}
.side-nav a:hover {
  background-color: #ffebb8;
}
.side-nav button {
  padding: 0.5rem;
  margin: 1rem;
  background-color: #ffebb8;
  border-radius: 5px;
  border: none;
  background-color: #ffc11b;
  color: #ffffff;
  font-size: medium;
  width: 80%;
  font-weight: 600;
  cursor: pointer;
}
.side-nav i {
  margin-right: 10px;
}
.new-post-button {
  color: #ffc11b;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 0 0.5rem 2rem;
  cursor: pointer;
}
.new-post-button:hover {
  background-color: #ffebb8;
}
.new-post-button i {
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .nav-no-words {
    display: none;
  }

  .side-nav a {
    padding: 0.5rem 1.5rem;
  }
  .side-nav div {
    padding: 0.5rem 1.5rem;
  }
  .side-nav {
    box-shadow: 0 0 5px 5px #ffebb8;
  }
  .side-nav i {
    font-size: 22px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .bottom-footer {
    position: fixed;
    flex-direction: row;
    top: 92vh;
    background-color: #ffffff;
    z-index: 20;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
  }

  .bottom-footer i {
    font-size: 25px;
  }
  .new-post-button:hover {
    background-color: #ffffff;
  }
  .side-nav a:hover {
    background-color: #ffffff;
  }
}
