.profile-parent {
  padding-bottom: 5rem;
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: max-content;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ffebb8;
  padding: 3rem;
  border-radius: 10px;
  position: relative;
}
.profile a {
  text-decoration: none;
  color: #ff9100;
}
.profile-tabs {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  gap: 4rem;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}
.profile i {
  margin: 0 0.7rem 0 0;
  /* color: green; */
}
.profile-deets {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 2rem;
  margin-left: 3rem;
  align-items: center;
  text-align: left;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.profile-username {
  margin-top: -18px;
  color: #666666;
}
.expandPosts .posts {
  width: 84%;
}
.logout-icon {
  position: absolute;
  top: 70px;
  right: 90px;
  font-size: 40px;
  color: #333333;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .logout-icon {
    font-size: 30px;
    top: 70px;
    right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .profile-deets {
    flex-wrap: wrap;
  }
  .profile-image {
    width: 120px;
    height: 120px;
  }
  .profile-tabs {
    width: 100%;
    gap: 2rem;
  }
  .profile {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .logout-icon {
    font-size: 30px;
  }
}
