.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 2rem;
  box-shadow: 0 0 5px 5px #ffebb8;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
}
.heading {
  cursor: pointer;
  color: #ffc11b;
}
.heading span {
  color: #666666;
}
.userAndTheme {
  display: flex;
  width: 350px;
  gap: 2.5rem;
}
.theme {
  display: flex;
  align-items: center;
}
.theme-toggler {
  background-color: #ffc11b;
  width: 45px;
  border-radius: 100px;
  padding: 0.5rem 0.7rem;
  margin: 0 0.3rem;
  position: relative;
  height: 14px;
  cursor: pointer;
}

.toggle-button {
  background-color: #ffffff;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  top: 0.4rem;
}
.theme i {
  font-size: 20px;
}
.navbar h1::after {
  content: ".";
  padding: 0 5px;
  color: #ffc11b;
}

#dark-theme {
  background-color: #121212;
  right: 10px;
  top: 0.4rem;
}
@media screen and (max-width: 768px) {
  .no-display {
    display: none;
  }
  .navbar {
    padding: 0.5rem 0 0.5rem 1rem;
  }
  .theme-toggler {
    width: 35px;
  }
  .toggle-button {
    width: 16px;
    height: 16px;
  }
  .theme i {
    font-size: 17px;
  }
  .userAndTheme {
    width: 200px;
    gap: 1.5rem;
  }
}
