.background {
  background-color: #ffebb8;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  margin: auto;
  margin-top: 1.5rem;
  background-color: #ffffff;
  padding: 2rem 1.5rem 2rem;
  text-align: left;
  border-radius: 7px;
  position: relative;
}
.posts .postImg {
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 3px;
  cursor: pointer;
}
.posts .icons {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
.posts .icons i {
  cursor: pointer;
  color: #999999;
}
.posts .icons i:hover {
  color: #ffc11b;
}
.posts p {
  color: #333333;
  font-weight: 500;
}

.posts .icons .yellow {
  color: #ffc11b;
}
.background .yellow {
  color: #ffc11b;
}
.post-settings {
  position: absolute;
  right: 2rem;
  font-size: 30px;
  top: 1.5rem;
  cursor: pointer;
  z-index: 3;
}
.edit-block {
  background-color: #ffffff;
  width: 100px;
  position: absolute;
  right: 1.3rem;
  text-align: left;
  top: 2.3rem;
  height: 100px;
  padding-left: 2rem;
  padding-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #ffebb8;
}
.edit-block p {
  /* border-bottom: #333333 solid 1px; */

  cursor: pointer;
}
.edit-block p:hover {
  color: #ffc11b;
}
@media screen and (max-width: 1024px) {
  .posts {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .posts {
    width: 70%;
  }
}
