.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.page-fractions {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading {
  z-index: 15;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.651);
}
.loader {
  position: absolute;
  top: 40%;
  left: 45%;
  margin: auto;
}
.loading-component::after {
  content: "";
}
.yellow {
  color: #ffc11b;
}
.general-heading {
  color: #333333;
}
.general-heading::after {
  content: ".";
  color: #ffc11b;
  margin: 0 0.5rem;
  font-size: larger;
}
.new-post {
  background-color: #ffc11b;
  height: 200px;
  padding: 1rem 2rem 2rem;
  border-radius: 10px;
  width: 44%;
  margin: auto;
  height: max-content;
  position: relative;
}
.new-post-div {
  display: flex;
  align-items: center;
}
.new-post-div img {
  position: relative;
  top: 10px;
  left: 0px;
}
.new-post button {
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: bold;
  color: #282c34;
  position: absolute;
  right: 2rem;
  width: 75%;
  font-size: medium;
  letter-spacing: 0.5px;
  color: #999999;
  font-family: "Maven Pro", sans-serif;
  text-align: left;
  height: 40px;
  box-shadow: 2px 2px 4px 2px #ffebb8;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#white {
  color: #ffffff;
}
.add-on {
  /* color: #ffffff; */
  font-size: 22px;
  padding: 1rem;
  cursor: pointer;
}
.hidden {
  display: none;
}
#dark {
  background-image: url("https://images.unsplash.com/photo-1533113354171-490d836238e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #121212;
  color: #ffffff;
}
#light-text {
  color: #ffffff;
}
#dark-text {
  color: #333333;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  overflow-y: auto;
  margin-top: 3.5rem;
}
.edit-btn {
  background-image: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
  border: none;
  border-radius: 5px;
  padding: 0.3rem 2rem;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.edit-btn:hover {
  color: #ffc11b;
}
.edit-form {
  background-color: #ffc11b;
  z-index: 10;
  width: 320px;
  height: max-content;
  position: relative;
  margin: auto;
  margin-top: 11vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-evenly;
  border-radius: 10px;
}
.edit-form h1 {
  color: #282c34;
}
.edit-form .edit-post-img {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.edit-form textarea {
  height: 80px;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
}
.cross {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

.comment {
  background-color: #ffffff;
  width: 46.5%;
  /* padding: 0 1rem; */
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
  padding: 1.5rem 1rem;
}
.comment .comment-background {
  min-width: 98%;
}
.comment img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.comment-text {
  text-align: left;
  font-size: 15px;
  margin-top: -10px;
  /* font-family: "Maven Pro", sans-serif; */
  margin-bottom: 10px;
  margin-left: 67px;
  font-weight: 500;
}
.comment-background {
  background-color: #fad15b;
  padding: 0 1rem;
  min-width: 98%;
  border-radius: 0 10px 10px 10px;
}
.comment-background h4 {
  text-align: left;
  margin-left: 0;
}
.allPostsComments {
  margin-top: 2rem;
}
.edit-form .edit-buttons button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  background-image: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
  color: #ffffff;
}
.edit-form .edit-buttons button:hover {
  color: #ffc11b;
}
.circle-plus {
  font-size: 60px;
  position: absolute;
  color: #ffc11b;
  bottom: 6.5rem;
  right: 3rem;
  cursor: pointer;
}
.edit-profile {
  height: 700px;
  text-align: left;
  position: relative;
}
.edit-profile h2 {
  text-align: center;
}
.edit-profile img {
  border-radius: 5px;
  margin-bottom: 1rem;
  max-height: 320px;
}
.edit-profile .edit-pen {
  position: absolute;
  top: 99px;
  right: 20px;
  color: #ededed;
  font-size: 20px;
  cursor: pointer;
  background-color: #121212;
  padding: 1rem;
  border-radius: 5px;
}
.edit-profile input {
  width: 140px;
  padding: 0.3rem;
  border: none;
  margin: 0.3rem 0;
  border-radius: 5px;
}
.edit-profile label {
  font-weight: bold;
}
.edit-profile button {
  border: none;
  margin-left: 1.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  background-image: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
  color: #ffffff;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.edit-profile button:hover {
  color: #ffc11b;
}
.edit-profile .side-by-side {
  display: flex;
  gap: 1rem;
}
.edit-profile .full-length {
  width: 97%;
}
.inline-likes {
  display: flex;
  gap: 0.5rem;
  color: #969595;
  border-bottom: 1px solid #fad15b;
  padding-bottom: 0.7rem;
  margin-bottom: 0.5rem;
  font-size: small;
  align-items: center;
  justify-content: space-between;
}
.inline-likes-child {
  display: flex;
  gap: 1rem;
}
.center-parent {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.center {
  width: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.5rem;
  height: max-content;
  cursor: pointer;
}
.comments-link {
  background-color: #ffebb8;
  color: #333333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.edit-profile textarea {
  margin-top: 3px;
  height: 45px;
  padding: 0.5rem;
  width: 95%;
}
.avatar-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  background-color: #ffc11b;
  padding: 3rem 0 3rem 3rem;
  gap: 1rem;
  border-radius: 10px;
  margin: auto;
  margin-top: 13rem;
  position: relative;
}
.avatar-form img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #ffebb8;
  cursor: pointer;
}
.avatar-form .cross {
  right: 10px;
  top: 20px;
}
.post-text-width {
  word-wrap: break-word;
  width: 100%;
  height: auto;
}
.search-parent {
  position: relative;
  margin-bottom: 2rem;
}
.magnify {
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 50px;
  color: rgba(0, 0, 0, 0.7);
}
.searchBar {
  width: 70%;
  margin-top: 0.5rem;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 5px 5px #ffebb8;
}
.top {
  margin-top: 10rem;
  width: 60%;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px 2px #ffebb8;
}
.top-magnify {
  position: relative;
  right: 30px;
  font-size: 17px;
}
.x-mark {
  color: #ffffff;
  background-color: #121212;
  padding: 0.5rem 0.7rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  font-size: medium;
}
.comment-parent {
  padding-left: 34.5vw;
  border: #121212 solid 1rem;
}

.commentBarParent {
  width: 40%;
  padding: 2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 7px 3px #ffebb8;
  margin: auto;
  margin-top: 18rem;
  padding-left: 2rem;
  display: flex;
  background-color: #ffffff;
  align-items: center;
}
.commentBar {
  width: 90%;
  margin: 0 1rem;
  padding: 1rem;
  border: none;
  font-size: 17px;
  outline: none;
}
.comment-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.relative {
  position: relative;
}
.commentBtn {
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #ffc11b;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}
.commentBtn:hover {
  background-image: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
}
.upload-image {
  background-color: #121212;
  color: #ffffff;
  padding: 0.5rem 2rem;
  margin-left: 50px;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;

  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.3px;
}
@media screen and (max-width: 1550px) {
  .new-post button {
    width: 65%;
  }
}
@media screen and (max-width: 1340px) {
  .new-post button {
    width: fit-content;
    padding: 0.7rem 1rem;
    font-size: small;
  }
}
@media screen and (max-width: 1024px) {
  .page-fractions {
    grid-template-columns: 70px 3fr 1fr;
  }
  .new-post {
    width: 58%;
  }
  .new-post button {
    width: 65%;
  }
  .comment {
    width: 62%;
  }
  .searchBar {
    width: 95%;
  }
  .magnify {
    right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .page-fractions {
    grid-template-columns: 1fr;
  }
  .new-post {
    width: 67%;
  }
  .overlay {
    margin-top: 0;
  }
  .comment {
    width: 72%;
  }
}
