.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.page-fractions {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading {
  z-index: 15;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.651);
}
.loader {
  position: absolute;
  top: 40%;
  left: 45%;
  margin: auto;
}
.loading-component::after {
  content: "";
}
.yellow {
  color: #ffc11b;
}

.new-post {
  background-color: #ffc11b;
  height: 200px;
  padding: 1rem 2rem 2rem;
  border-radius: 10px;
  width: 44%;
  margin: auto;
  height: max-content;
  position: relative;
}
.new-post-div {
  display: flex;
  align-items: center;
}
.new-post-div img {
  position: relative;
  top: 10px;
  left: 0px;
}
.new-post button {
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: bold;
  color: #282c34;
  position: absolute;
  right: 2rem;
  width: 75%;
  font-size: medium;
  letter-spacing: 0.5px;
}
/* .new-post button {
  width: max-content;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: #999999;
  font-size: medium;
  text-align: left;
  letter-spacing: 0.5px;
  font-family: "Maven Pro", sans-serif;
} */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1550px) {
  .new-post button {
    width: 65%;
  }
}
@media screen and (max-width: 1340px) {
  .new-post button {
    width: fit-content;
    padding: 0.7rem 1rem;
    font-size: small;
  }
}
@media screen and (max-width: 1024px) {
  .page-fractions {
    grid-template-columns: 70px 3fr 1fr;
  }
  .new-post {
    width: 58%;
  }
  .new-post button {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .page-fractions {
    grid-template-columns: 1fr;
  }
  .new-post {
    width: 67%;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  overflow-y: auto;
}
.edit-form {
  background-color: #ffc11b;
  z-index: 10;
  width: 320px;
  height: max-content;
  position: relative;
  margin: auto;
  margin-top: 11vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-evenly;
  border-radius: 10px;
}
.edit-form h1 {
  color: #282c34;
}
.edit-form .edit-post-img {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.edit-form textarea {
  height: 80px;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
}
.cross {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}
.edit-form .edit-buttons button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;

  cursor: pointer;
  font-weight: bold;
  background-image: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
  color: #ffffff;
}
.edit-form .edit-buttons button:hover {
  color: #ffc11b;
}
.circle-plus {
  font-size: 60px;
  position: absolute;
  color: #ffc11b;
  bottom: 6.5rem;
  right: 3rem;
  cursor: pointer;
}
.edit-profile {
  height: 700px;
}
.avatar-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  background-color: #ffc11b;
  padding: 3rem 0 3rem 3rem;
  gap: 1rem;
  border-radius: 10px;
  margin: auto;
  margin-top: 13rem;
  position: relative;
}
.avatar-form img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #ffebb8;
  cursor: pointer;
}
.avatar-form .cross {
  right: 10px;
  top: 20px;
}
